/*static/master.css*/

h1 {
  color: white;
  font-size: 46px;
}

h3 {
  color: white;
}

a {
  margin-top: 15px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  background: darkred;
  border-style: none;
  border-radius: 5px;
}

a:hover {
  color: darkred;
  background: white;
}

a:active {
  text-decoration: underline;
}

.hands, .action {
  display: block;
}

.hand {
  margin: auto;
  margin-bottom: 10px;
  color: white;
  background-color: seagreen;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 10px, 20px;
  width: 45%;
}

.card {
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  color: black;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  width: 20%;
  padding-top: 45px;
  padding-bottom: 45px
}

.hearts, .diamonds {
  color: darkred;
}

body {
  text-align: center;
  background: black;
}
